<div class="dropdown">
  <div class="dropdown__label"><span>{{label}}</span> {{>ui/svg name="arrow-dropdown"}}</div>
  <ul class="dropdown__list">
    {{#times 5}}
      <li>Элемент {{this}}</li>
    {{/times}}
  </ul>
</div>
