<div class="header-top">
  <div class="header-top__left">
    <div class="header-top__city">
      {{>widgets/dropdown label="Санкт-Петербург"}}
    </div>
    <div class="header-top__phone">
      <a href="tel:+7 (812) 613-58-38">+7 (812) 613-58-38</a>
    </div>
    <div class="header-top__working-days">
      <p>Пн–пт 10:00–19:00, сб-вс 10:00–17:00</p>
    </div>
  </div>
  <div class="header-top__right">right</div>
</div>
