<section class="home-benefits section">
  <div class="container">
    <h2 class="home-benefits__title">Лучше один раз увидеть:</h2>
    <div class="section__content">
      <ul class="home-benefits__list">
        <li class="home-benefits__list-item">
          <a href="#" class="home-benefits__list-link">Как устроена наша компания изнутри
            {{>ui/svg name="arrow-right"}}
          </a>
        </li>
        <li class="home-benefits__list-item">
          <a href="#" class="home-benefits__list-link">Как создавалась компания - необычная история
            {{>ui/svg name="arrow-right"}}
          </a>
        </li>
        <li class="home-benefits__list-item">
          <a href="#" class="home-benefits__list-link">Читай о нас на 3D Today
            {{>ui/svg name="arrow-right"}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
