<section class="home-about section section--bg">
  <div class="container">
    <h2 class="home-about__title">Видео о нас</h2>
    <div class="home-about__content js-home-slider">
      <div class="home-about__slider swiper-container js-home-slider__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">1</div>
          <div class="swiper-slide">2</div>
          <div class="swiper-slide">3</div>
          <div class="swiper-slide">4</div>
        </div>
      </div>
      <div class="home-about__slider-nav">
        <button class="home-about__slider-btn home-about__slider-btn--prev js-home-slider__prev" type="button">
          {{>ui/svg name="slider-arrow"}}
        </button>
        <button class="home-about__slider-btn home-about__slider-btn--next js-home-slider__next" type="button">
          {{>ui/svg name="slider-arrow"}}
        </button>
      </div>
    </div>
  </div>
</section>
