<header class="header page__header">
  <div class="header__top">
    <div class="container">
      {{>blocks/header/header-top}}
    </div>
  </div>
  <div class="header__main">
    <div class="container">
      <h2>HEADER</h2>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <h2>HEADER</h2>
    </div>
  </div>
</header>

<main class="page__content">
