.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow-right {
  width: 6px;
  height: 10px;
}
.icon-popup-close {
  width: 26px;
  height: 26px;
}
.icon-slider-arrow {
  width: 11px;
  height: 19px;
}
